@import url('../App.css');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: gray;
}

header button, .btn {
    margin: 10px;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

header button:hover, .btn:hover {
    color: white;
}

.signup-login {
    display: flex;
}

.logged-in-menu {
    display: flex;
}