/* POST CONTAINER  */
.posts-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.posts-menu {
    padding: 10px;
}

/* POSTS  */
.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.posts::-webkit-scrollbar {
    display: none;
}
